asgiref==3.7.2
beautifulsoup4==4.12.2
Django==4.2.2
django-bootstrap-v5==1.0.11
djangorestframework==3.14.0
odict==1.9.0
optional-django==0.1.0
plumber==1.7
postgres==4.0
psycopg2-binary==2.9.6
psycopg2-pool==1.1
python-decouple==3.8
pytz==2023.3.post1
soupsieve==2.4.1
SQLAlchemy==2.0.23
sqlparse==0.4.4
typing_extensions==4.6.3
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==6.0
zope.interface==6.1
zope.lifecycleevent==5.0
zope.proxy==5.1
