<head>
  <title>Front Page</title>
  <style>
      body {
        background-color: ivory;
      }
      h1 {
        text-align: center;
      }
      p {
        margin: 0;
      }
      .auth-buttons {
        text-align: right;
        margin-top: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
      }
      .auth-buttons a {
        margin-left: 5px;
      }
      .auth-buttons span {
        margin: 0 5px;
      }
  </style>
</head>
<body>
  <h1>Welcome to the Front Page!</h1>
  <div class="auth-buttons">
      {% if user.is_authenticated %}
          <p>Welcome, {{ user.username }}!</p>
          <a href="{% url 'logout' %}">Logout</a>
      {% else %}
          <a href="{% url 'login' %}">Login</a>
          <span>/</span>
          <a href="{% url 'register' %}">Register</a>
      {% endif %}
  </div>
</body>
</html>
